services:
  scheduler:
    volumes:
      - ./dbt:/usr/local/dbt:rw
      - ./src:/usr/local/airflow/src:ro
    networks:
      - realestate_network

  triggerer:
    volumes:
      - ./src:/usr/local/airflow/src:ro
    networks:
      - realestate_network

  api-server:
    networks:
      - realestate_network

  dag-processor:
    networks:
      - realestate_network

  # Astro 내부 postgres (Airflow metadata용) - 포트 변경
  postgres:
    ports:
      - "127.0.0.1:5433:5432"
    networks:
      - realestate_network

networks:
  realestate_network:
    external: true
